/*My Custom CSS*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -mox-box-sizing:border-box;
    box-sizing: boder-box;
}

.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.container {
    margin-top:150px;
}

body {
    background-color: white;
    min-height: 100vh;
    font-family: 'Open Sans' Arial;
}

header {
    margin: 0px;
}

a {
    color: #b63b4d;
    text-decoration: none;
}
.accordion {
    max-width: 384px;
    width: 100%;
    margin: 30px auto 20px;
    background: #efeded;
    border-radius: 0;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    position: relative;
    transition: all 0.4s ease;
}

.accordion li: last-chil .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    transition: all 0.4 ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #aa00ff;
}

.accordion li.open i{
    color: #aa00ff;
}

.accordion li.open i.fa-chevron-down {
    transition: rotate (180deg);
}

.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

.submenu li{
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    transition: all 0.25s ease;
}

.submenu a: hover {
    background: #b63b4d;
    color: #fff;
}

h1 {
    font-family: 'Pacifico', serif;
    font-size: 48px;
}

h2 {
    font-family: 'PT Serif', serif; 
    font-size: 20px;
}

h3 {
    font-family: 'PT Serif', serif; 
    font-size: 24px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4) inset;
    background: linear gradient(to bottom, #fff 30%, #fcfcfc 40%, #f8f8ff8 50%, #f0f0f0 100%);
    border-radius: 7px;
    
}

h4 {
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    0% {
        margin-left: 0%;
    }
    
    50% {
        margin-left: 100px;
    }
    
    100% {
        margin-left: 0%;
    }
}

.heroimg {
    object-fit: cover;
}

.classes1 {
    display: block;
    margin: auto;
    height: 100%;
}

p {
    font-family: 'Pathway Gothic One', serif;
    overflow: hidden;
}

ul {
    overflow: hidden;
}

.jumbotron {
    margin: auto;
    background-color: crimson;
    line-height: 1;
    height: 170px;
}

.row {
    padding: 15px;
    width: 100%;
    
}

.headerimage {
    display:block;
    max-width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,1)), url(bck.jpg);
    background-position: center;
}

.caption {
    text-align: right;
}

.classes1 {
    display: block;
    margin: auto;
    height: 100%;
}

.p-2 {
    width: 600px;
}

.footer {
    background: #aaa;
}

.footer,
.push {
    height: 50px;
    margin-top: 100%;
}

.footer h3 {
    text-align: center;
    padding-top: 10px;
}

.clearfix::after,
.calendar ol::after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}




/*============ Bootstrap Calendar Styling ========== */
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}




/*============ Calendar Styling ========== */
.calendar {
    border-radius: 30px;
}

@media (min-width: 992px) {
    .date {
        font-size: 2rem;
    }
}

.calendar ol li {
    float: left;
    width: 14.28571%;
}

.calendar .day-names {
    border-bottom: 1px solid #eee;
}


.calendar .day-names li {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    
}

.calendar .days li {
    border-bottom: 1px solid: #eee;
    min-height: 8rem;
}

.calendar .days li .date {
    margin: 0.5rem 0;
}

.calendar .days li .event {
    font-size: 0.75rem;
    padding: 0.4rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4rem;
    margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
    width: 200%;
}

.calendar .days li .event.begin {
    border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
    border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
    background: none;
}

.calendar .days li:nth-child(n+29) {
    border-bottom: none;
}

.calendar .days li.outside .date {
    color: #ddd;
}

.dropdown-content {
    display: none;
    position: relative;
    text-align: right;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display:block;
}

.demo:hover .event bg-success {
    animation-name: date;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.date {
    border-top: 20px solid #ccc;
}

.btn1 {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 100%;
}

.def-number-input {
    display: inline-flex;
    width: 80px;
    height: 30px;
    background-color: #9f9f9f;
    &, & * {
        box-sizing: border-box;
    }
}

aside {
    width: 25%;
    min-width: 250px;
    max-width: 500px;
    margin: 25px auto;
}

.wufoo-ad {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wufoo-letter {
    animation: kaboom 5s ease alternate infinite;
    &:nth-child (2) {
        animation-delay: 0.1s;
    }
    &:nth-child (3) {
        animation-delay: 0.2s;
    }
    &:nth-child (4) {
        animation-delay: 0.3s;
    }
    &:nth-child (5) {
        animation-delay: 0.4s;
    }
}
@keyframes kaboom {
    90% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

.text-1, .text-2, .text-3 {
    fill: white;
    font-size: 63px;
    font-family: sans-serif;
}

.text-1 {
    animation: hideshow 10s ease infinite;
}

.text-2 {
    opacity: 0;
    animation: hideshow 10s 1.5s ease infinite;
}

.text-3 {
    opacity: 0;
    animation: hideshow 10s 3s ease infinite;
}

@keyframes hideshow {
    0% { opacity: 1; }
    10% { opacity: 1; }
    15% { opacity: 0; }
    100% { opacity: 0; }
}

#trex {
    transform: translateY(150px);
    animation: popup 10s 6.5s ease infinite;
}

@keyframes popup {
    0% {
        transform: translateY(150px);
    }
    34% {
        transform: translateY(20px);
    }
    37% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(150px);
    }
}

#Layer_1 {
    width: 400px;
    margin: 10% auto;
    display: block;
}



